{{> head}}


<main class='container'>
  <div>
    <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-header'>
          <h5 class='modal-title' id='staticBackdropLabel'>Edit Provinsi</h5>
        </div>
        <form action='/provinsi/edit/{{prov.id}}' method='post' enctype="multipart/form-data">
        <input type="hidden" name="id" value="{{prov.id}}">
        <input type="hidden" name="oldImage" value="{{prov.photo}}">
          <div class='modal-body row'>
            <div class='mb-3'>
              <input type="file" hidden  id="file" aria-label="file upload" name="photo" onchange="handleChange()">
              <label for="file">Tambah Gambar <br> <img class="icon img-fluid" src="/static/icons/add-image.png" alt=""></label>
              <div id="preview-thumbnail" class="text-start">
                  <img src='{{prov.photo}}' style="width: 250px;" class="mb-3">
              </div>

            </div>
            <div class='col-6 mb-3'>
              <label for='inputName' class='form-label'>Nama Provinsi</label>
              <input type='text' class='form-control' id='inputName' name='provName'  value="{{prov.nama}}" required />
            </div>
           
            <div class='col-6 mb-3'>
              <label for='inputDate' class='form-label'>Diresmikan pada</label>
              <input type='date' class='form-control' id='inputDate' name='date' value="{{prov.diresmikan}}" required />
            </div>
            <div class='col-6 mb-3'>
              <label for='inputpulau' class='form-label'>Terletak di pulau</label>
              <input type='text' class='form-control' id='inputPulau' name='pulau' value="{{prov.pulau}}" required />
            </div>
          </div>
          <div class='modal-footer'>
            <a href="/detail/provinsi/{{prov.id}}" class='btn btn-secondary'>Batal</a>
            <input type='submit' value='Perbarui' class='btn btn-danger' />
          </div>
        </form>
      </div>
    </div>
  </div>
  



  <script>
  function handleChange() {
    const previewElement = document.getElementById("preview-thumbnail")
    const value = URL.createObjectURL(event.target.files[0])
    previewElement.innerHTML = `<img src=${value} style="width: 250px;" class="mb-3">`
  }
</script>

</main>

{{> closetag}}